@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}
body {
    background: #111;
}
section {
    position: relative;
    padding: 100px;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
.header .toggle img {
    max-width: 40px;
    cursor: pointer;
    padding-top: 5px;
}



.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}
.banner .content {
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}
.banner .content h2 {
    color: #fff;
    font-size: 5em;
}
.banner .content p {
    color: #fff;
    font-size: 1.2em;
}
.btn {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}
.btn:hover {
    background: rgb(179, 179, 179);
}
.fitbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contentBx {
    width: 50%;
    min-width: 50%;
    text-align: end;
    padding-right: 40px;
}
.titleText {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}
.text {
    color: #fff;
    font-size: 1em;
}
.about .imgBx {
    position: relative;
    min-height: 50%;
    width: 50%;
    min-height: 500px;
}
.about .imgBx .fitbg {
    border-radius: 10px;
}



.banner2,
.banner3 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2::before,
.banner3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #111, transparent);
}
.banner2::after,
.banner3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}



.destination {
    text-align: center;
}
.destination .content {
    text-align: center;
}
.destination .destinationList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0 50px;
    transition: 0.5s;
}
.destination .destinationList .box {
    position: relative;
    min-width: 350px;
    height: 480px;
    background: #191919;
    transition: 0.5s;
    margin: 10px;
}
.destination .destinationList:hover .box {
    opacity: 0.2;
}
.destination .destinationList .box:hover {
    opacity: 1;
}
.destination .destinationList .box .imgBx {
    position: relative;
    width: 100%;
    height: 400px;
}
.destination .destinationList .box .content {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination .destinationList .box .content h2 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}
.destination .destinationList .box .content h2 span {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.5;
}
.destination .destinationList a {
    opacity: 0.5;
}
.destination .destinationList a:hover {
    opacity: 1;
    background: #fff;
}
.destination .btn {
    transition: 0.5s;
}
.destination .btn:hover {
    opacity: 0.5;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer a {
    transition: 0.5s;
}
.footer .sci {
    position: relative;
    display: flex;
}
.footer .sci li {
    list-style: none;
}
.footer .sci li a,
.footer h4 a {
    text-decoration: none;
}
.footer .sci li a {
    margin: 0 20px;
}
.footer .sci li a:hover {
    opacity: 0.5;
}
.footer .sci li a img {
    filter: invert(1);
    max-width: 40px;
}
.footer h4 {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #666;
}
.footer h4 a {
    color: #fff;
}
.footer h4 a:hover {
    opacity: 0.5;
}



@media (max-width: 780px) {
    section {
        padding: 40px;
    }
    .banner .content h2 {
        font-size: 2.5em;
    }
    .banner .content p {
        font-size: 1em;
    }
    .about {
        flex-direction: column;
    }
    .about .contentBx {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
    }
    .about .imgBx {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}